<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.smhrd.model.BoardDAO">
     <insert id="upload" parameterType="com.smhrd.model.BoardVO">
          <!-- insert into web_board values(num_board.nextval,#{title},#{writer},#{filename},#{content},sysdate) -->
          <!-- insert into T_FILE values(  T_FILE.nextval,#{title},#{writer},#{filename},#{content},sysdate) -->
     	  insert into T_FILE values(T_FILE_SEQ.nextval,1,#{FILE_NAME},#{REAL_FILE_NAME},#{EXT},#{FILE_SIZE},#{FILE_MEMO},sysdate)
     </insert>
     
     <select id="showBoard" resultType="com.smhrd.model.BoardVO">
      select * from T_FILE
   </select>
   
   <select id="detailBoard" parameterType="int" resultType="com.smhrd.model.BoardVO">
       select * from T_FILE where FILE_SEQ = #{FILE_SEQ}
   </select>
   
   <update id = "updateboard" parameterType = "com.smhrd.model.MemberVO">
       update T_FILE set FILE_SIZE=#{FILE_SIZE}, address=#{address} where FILE_SIZE =#{FILE_SIZE}
    </update>
</mapper>
