<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 환경설정(계정, driver, url) -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver"
					value="oracle.jdbc.driver.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@project-db-stu.ddns.net:1524:xe" />
				<property name="username" value="campus_a_0104_1" />
				<property name="password" value="smhrd1" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<!--효창 - 다 해봤는데 코드문제가 없으면 mapper를 봐라 이것 ㅅㅂ   -->
		<mapper resource="com/smhrd/database/BoardMapper.xml" />
		<mapper resource="com/smhrd/database/MemberMapper.xml" />
		<mapper resource="com/smhrd/database/fullcalendarMapper.xml" />
		<mapper resource="com/smhrd/database/Mapper.xml" />
		<mapper resource="com/smhrd/database/WorkspaceMappper.xml" />
	</mappers>

</configuration>

