<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>JoinCon</servlet-name>
		<display-name>JoinCon</display-name>
		<description></description>
		<servlet-class>monda.controller.JoinCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>joincon</servlet-name>
		<display-name>joincon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.joincon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>logincon</servlet-name>
		<display-name>logincon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.logincon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>updatecon</servlet-name>
		<display-name>updatecon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.updatecon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>logoutcon</servlet-name>
		<display-name>logoutcon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.logoutcon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>logoutCon</servlet-name>
		<display-name>logoutCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.logoutCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>fullcalendarMapperCon</servlet-name>
		<display-name>fullcalendarMapperCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.fullcalendarMapperCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>fullCalendarController</servlet-name>
		<display-name>fullCalendarController</display-name>
		<description></description>
		<servlet-class>CalendarController.fullCalendarController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>fullcalendarCon</servlet-name>
		<display-name>fullcalendarCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.fullcalendarCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>fullcalendarCON</servlet-name>
		<display-name>fullcalendarCON</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.fullcalendarCON</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TestCon</servlet-name>
		<display-name>TestCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.TestCon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>codeCon</servlet-name>
		<display-name>codeCon</display-name>
		<description></description>
		<servlet-class>com.smhrd.controller.codeCon</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>JoinCon</servlet-name>
		<url-pattern>/JoinCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>joincon</servlet-name>
		<url-pattern>/joincon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logincon</servlet-name>
		<url-pattern>/logincon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updatecon</servlet-name>
		<url-pattern>/updatecon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logoutcon</servlet-name>
		<url-pattern>/logoutcon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logoutCon</servlet-name>
		<url-pattern>/logoutCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fullCalendarController</servlet-name>
		<url-pattern>/fullCalendarController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fullcalendarCon</servlet-name>
		<url-pattern>/fullcalendarCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fullcalendarCON</servlet-name>
		<url-pattern>/fullcalendarCON</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestCon</servlet-name>
		<url-pattern>/TestCon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>codeCon</servlet-name>
		<url-pattern>/codeCon</url-pattern>
	</servlet-mapping>
</web-app>
